.general-item {
  display: flex;
  flex-direction: row;
  padding: 7px 0;
}

.general-item__label {
  color: #86909F;
  width: 100px;
  text-align: left;
}
.general-item__text {
  color: #272A32;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 235px;
}
