.app {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.app-wrapper {
  width: 100%;
  max-width: 35%;
  padding: 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

